/**
 * This stylesheet will manage all secondary color-related styles.
 *
 * @package Follet_Theme
 * @since   1.0
 */
/* =============================================================================
   General
   ========================================================================== */
a:hover {
  color: #dd3333;
}

/* Buttons
   ========================================================================== */
.btn.btn-secondary {
  background-color: #dd3333;
}

/* =============================================================================
   Articles
   ========================================================================== */
#main article h1 a:hover {
  color: #dd3333;
}
#main article blockquote {
  border-color: #dd3333;
}
#main article.post.sticky header:before {
  color: #dd3333;
}

.wp-caption-text,
.wp-caption-dd {
  border-bottom: 2px solid #dd3333;
}

/* =============================================================================
   Comments
   ========================================================================== */
#comments .required {
  color: #dd3333;
}
